.boardGrid {
  flex: 5;
  padding: 1rem 4rem;
  display: grid;
  gap: 0.5rem 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr ;

}

.board{
    flex: 2;

}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.boardTitle{
    color: black;
    background-color: #DAD7CD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  0 1rem;
}

@media only screen and (max-width: 1550px) { 
    .boardGrid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
    }
}


@media only screen and (max-width: 1450px) { 
    .boardGrid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (max-width: 905px) { 
    .boardGrid{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}