.nav {
  flex: 1;
  padding: 2rem 1rem;
  border: 1px solid #1a1a1a;
  display: flex;
  align-items: center;
  flex-direction: column;
}
ul > li {
  margin: 1rem 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
