.nav {
  color: black;
  padding: 2rem 1rem;
  border-right: 1px solid #1a1a1a;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #DAD7CD;
  position:relative; 
  flex: 1;
  max-width: 16rem;

}
ul > li {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  
}
ul {
  list-style-type: none;
  padding: 0;
}

.removeBoardButton{
    background-color: #1a1a1a;
    padding: 1rem;
    line-height: 0;   
    font-weight: bold;
    
}

.logoutButton{
    position: absolute;
    bottom:   5rem;
}



@media only screen and (max-width: 1550px) { 
    .nav{
        flex: 1;
    }
}